footer {
	display: grid;
	grid-template-columns: repeat(3, 1fr);
	grid-template-rows: repeat(2, 1fr);
	align-items: start;
	padding: 50px;
	color: #3e372f;
	position: relative;
}
#ft_left {
	text-align: left;
	grid-column: 1/2;
	grid-row: 1/2;
}

.ft_logo {
	/* font-family: 'Cafe24ClassicType-Regular'; */
	font-family: 'nanummyeongjo';
	font-optical-sizing: auto;
	font-weight: 900;
	font-size: 2.344vw;
	margin-bottom: 35px;
}

#ft_center {
	display: flex;
	flex-direction: column;
	justify-content: space-between;
	align-items: center;
	grid-column: 2/3;
	grid-row: 1/2;
	font-family: 'Noto Sans', sans-serif;
	height: 100%;
	text-align: center;
}
.ft_center_title {
	font-size: 30px;
}

.ft_center_input {
	width: 100%;
}
.ft_center_input input {
	width: 100%;
	height: 35px;
	border: 1px solid #8c857f;
	outline: #8c857f;
}

#ft_right {
	text-align: right;
	grid-column: 3/4;
	grid-row: 1/2;
	height: 100%;
}
#ft_right ul {
	height: 100%;
	display: flex;
	flex-direction: column;
	justify-content: space-between;
	align-items: flex-end;
	row-gap: 10px;
}
#ft_right a {
	color: #000;
}
.ft_right_title {
	font-size: 30px;
}

#ft_bottom {
	grid-column: 1/4;
	grid-row: 2/3;
	width: 100%;
	height: 100%;
	display: flex;
	justify-content: space-between;
	align-items: flex-end;
}

@media (max-width: 1024px) {
	.ft_logo,
	.ft_center_title,
	.ft_right_title {
		font-size: 20px;
	}

	#ft_left,
	#ft_center,
	#ft_right {
		font-size: 14px;
	}

	#ft_bottom {
		font-size: 14px;
	}
}

@media (max-width: 768px) {
	#ft_left,
	#ft_center,
	#ft_right {
		font-size: 12px;
	}
}

@media (max-width: 560px) {
	footer {
		padding: 15px;
	}
	.ft_logo {
		margin-bottom: 20px;
	}
	.ft_logo,
	.ft_center_title,
	.ft_right_title {
		font-size: 18px;
	}

	#ft_left,
	#ft_center,
	#ft_right {
		font-size: 10px;
	}
	#ft_bottom {
		font-size: 10px;
	}
}

@media (max-width: 375px) {
	.ft_logo,
	.ft_center_title,
	.ft_right_title {
		font-size: 14px;
	}
	#ft_left,
	#ft_center,
	#ft_right {
		font-size: 8px;
	}
}
