nav {
	display: flex;
	align-items: center;
	justify-content: space-between;
	height: 100px;
	padding: 0 20px;
	color: #3e372f;
}
.logo {
	/* font-family: 'Cafe24ClassicType-Regular'; */
	font-family: 'nanummyeongjo';
	/* font-size: 50px; */
	font-weight: 900;
}
.logo a {
	color: #3e372f;
	font-size: 3.125rem;
}

.nav_content {
	display: inline-flex;
	justify-content: space-between;
	align-items: center;
	width: 55%;
}
.nav_ul {
	display: inline-flex;
	align-items: center;
	justify-content: space-between;
	width: 68%;
	/* font-size: 18px; */
}
.nav_ul li a {
	color: #3e372f;
	font-size: 1.125rem;
}
.movement {
	color: #bfbfbf;
}
.nav_sns {
	display: inline-flex;
	align-items: center;
	justify-content: space-between;
	width: 15%;
	margin-right: 30px;
	column-gap: 10px;
}

.nav_sns li {
	width: 25px;
	height: 25px;
}
.nav_sns li img {
	width: 100%;
	height: 100%;
}

.btn_menu {
	width: 40px;
	height: 40px;
	display: none;
}
.btn_menu img {
	width: 100%;
	height: 100%;
}

@media (max-width: 1000px) {
	.logo {
		position: relative;
		z-index: 11;
	}
	.btn_menu {
		display: block;
		position: relative;
		z-index: 11;
	}
	.nav_content {
		flex-direction: column;
		align-items: center;
		justify-content: space-between;
		position: absolute;
		top: -100vh;
		left: 0;
		width: 100%;
		height: 0;
		z-index: 10;
		background-color: #fff;
		padding: 150px 0 100px 0;
		row-gap: 35px;
		transition: all 300ms ease;
	}
	.on .nav_content {
		top: 0;
		height: 100%;
	}
	.nav_ul {
		flex-direction: column;
		align-items: center;
		justify-content: space-between;
		width: 100%;
		height: 60%;
		text-align: center;
	}
	.nav_sns {
		margin: 0 auto 15% auto;
		column-gap: 15px;
		width: 30%;
	}
}

@media (max-width: 768px) {
	.nav_sns {
		width: 30%;
	}
}
@media (max-width: 560px) {
	.logo a {
		font-size: 35px;
	}
	.btn_menu {
		width: 30px;
		height: 30px;
	}
	.nav_sns {
		width: 30%;
	}
}

@media (max-width: 425px) {
	.logo a {
		font-size: 28px;
	}
	.btn_menu {
		width: 30px;
		height: 30px;
	}
	.nav_sns {
		width: 33%;
		margin: 0 auto 25% auto;
	}
}
@media (max-width: 375px) {
	.logo a {
		font-size: 24px;
	}
	.nav_sns {
		width: 35%;
		margin: 0 auto 30% auto;
	}
}
