#section0 {
	display: flex;
	flex-direction: column;
	align-items: center;
	padding: 45px 0;
	margin-bottom: 6.25vw;
}
.top_img {
	position: relative;
	width: 32.292vw;
	height: 41.667vw;
}
.top_img img {
	position: absolute;
	width: 100%;
	height: 100%;
	border-radius: 19.531vw 19.531vw 0 0;
	object-fit: cover;
	box-shadow: 5px 5px 5px rgba(0, 0, 0, 0.2);
	clip-path: inset(100% 0 0 0);
	animation: reveal 2s ease-out forwards;
}
@keyframes reveal {
	0% {
		clip-path: inset(100% 0 0 0);
	}
	100% {
		clip-path: inset(0 0 0 0);
	}
}
.top_txt {
	margin-top: 80px;
	font-family: 'Lora', serif;
	font-optical-sizing: auto;
	font-style: normal;
	font-size: 2.604vw;
	animation: showText 2s ease-out forwards;
}
@keyframes showText {
	0% {
		opacity: 0;
	}
	100% {
		opacity: 1;
	}
}

.top_txt p {
	text-align: center;
}
.top_txt p:nth-child(2) {
	text-align: right;
	margin-top: 30px;
	font-size: 1.042vw;
	font-weight: 600;
	color: #bfbfbf;
}

.img_menu {
	margin: 0 20px;
}

.img_menu ul {
	display: flex;
	justify-content: center;
	align-items: center;
	gap: 10px;
	width: 100%;
	flex-wrap: wrap;
	max-height: 1080px;
}

.img_menu ul li {
	width: 48%;
	height: 23.438vw;
	color: #fff;
	position: relative;
	opacity: 0;
	clip-path: inset(0 100% 0 0);
	transition: all 1.5s ease-out, opacity 1.5s ease-out;
}
.img_menu li.visible {
	clip-path: inset(0 0 0 0);
	opacity: 1;
}
.img_menu ul li a {
	color: #fff;
	display: block;
	position: relative;
	width: 100%;
	height: 100%;
	overflow: hidden;
}
.img_menu ul li a img {
	display: block;
	width: 100%;
	height: 100%;
	object-fit: cover;
}
.img_menu ul li .text_wrap {
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	display: flex;
	justify-content: center;
	align-items: flex-start;
	flex-direction: column;
	font-size: 1.563vw;
	padding-left: 2.604vw;
	letter-spacing: 0.5em;
}
.img_menu ul li .text_wrap p {
	max-width: 24.844vw;
	transition: all 300ms ease;
}

.img_menu .text_wrap .go_project {
	position: absolute;
	right: 15px;
	bottom: 15px;
	letter-spacing: 0;
	font-size: 1.042vw;
	width: 100%;
	text-align: right;
	transform: translateX(0);
	transition: all 300ms ease;
}
.img_menu .text_wrap .go_project .arrow {
	margin-left: 5px;
	display: inline-block;
	position: relative;
}

#section2 {
	max-height: 350px;
	height: 100%;
	margin: 5.208vw;
}
.swiper {
	max-height: 350px;
	height: 100vh;
}
.swiper-wrapper {
	max-height: 350px;
	height: 100vh;
}
.swiper-slide {
	text-align: center;
	max-height: 500px;
	height: 100vh;
	display: flex;
	justify-content: center;
	align-items: center;
	padding: 50px 0;
}
.swiper-pagination {
	position: relative;
	bottom: 50px;
}
.swiper-pagination-bullet {
	background-color: #3e372f !important;
	opacity: 1 !important;
}

.swiper-pagination-bullet-active {
	background-color: transparent !important;
	border: 2px solid #3e372f !important;
	transform: scale(1.5) !important;
}

.slide_item {
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	width: 100%;
	height: 100%;
	position: relative;
}
.slide_item h1 {
	font-family: 'nanummyeongjo';
	font-size: 2.083vw;
	margin-bottom: 25px;
}
.slide_text {
	width: 70%;
	font-family: 'nanummyeongjo';
	font-weight: 700;
	margin-bottom: 50px;
	font-size: 18px;
	height: 100%;
}
.slide_subtext {
	position: absolute;
	right: 0;
	bottom: 0;
	font-family: 'nanummyeongjo';
	font-weight: 700;
	text-align: right;
}

@media (hover: hover) {
	.img_menu ul li:hover .go_project {
		transform: translateX(10px);
	}
	.img_menu ul li .text_wrap:hover p {
		transform: scale(1.1);
	}
}

@media (max-width: 1200px) {
	.top_img {
		height: 550px;
	}
	.top_txt p:nth-child(2) {
		font-size: 1.333vw;
	}

	.slide_item h1 {
		font-size: 2.333vw;
	}
	.slide_subtext {
		font-size: 14px;
	}
}

@media (max-width: 1024px) {
	.top_img {
		width: 310px;
		height: 500px;
	}
	.img_menu ul li .text_wrap {
		font-size: 1.563vw;
	}
	.img_menu ul li .text_wrap p {
		max-width: 245px;
	}
	.img_menu .text_wrap .go_project {
		font-size: 12px;
	}

	.slide_item h1 {
		font-size: 24px;
	}
	.slide_text {
		font-size: 16px;
	}
	.slide_subtext {
		font-size: 12px;
	}
}

@media (max-width: 768px) {
	.top_img {
		height: 450px;
	}
	.top_img img {
		border-radius: 155px 155px 0 0;
	}
	.top_txt p:nth-child(2) {
		font-size: 1.823vw;
	}

	.img_menu ul li .text_wrap p {
		max-width: 31.25vw;
	}

	.img_menu ul li .text_wrap {
		font-size: 1.823vw;
	}
	#section2 {
		max-height: 400px;
	}
}

@media (max-width: 560px) {
	.top_img {
		height: 400px;
	}
	.top_txt {
		margin-top: 65px;
	}
	.img_menu ul li .text_wrap {
		font-size: 12px;
	}
	.img_menu ul li .text_wrap p {
		max-width: 160px;
	}
	.img_menu .text_wrap .go_project {
		font-size: 10px;
	}
	.slide_item h1 {
		font-size: 22px;
	}
	.slide_text {
		font-size: 12px;
	}
	#section2 {
		max-height: 300px;
	}
	.swiper {
		max-height: 300px;
	}
	.swiper-wrapper {
		max-height: 300px;
	}
}

@media (max-width: 480px) {
	.top_img {
		width: 300px;
		height: 390px;
	}
	.top_txt {
		margin-top: 45px;
	}
	.slide_text {
		font-size: 10px;
	}
	.img_menu ul {
		flex-direction: column;
	}
	.img_menu {
		margin: 0 10px;
	}
	.img_menu ul li {
		width: 100%;
	}
	.img_menu ul li .text_wrap p {
		max-width: 200px;
	}
	.img_menu .text_wrap .go_project {
		bottom: 10px;
	}
}
